* {
  text-align: center;
}

#header {
  font-size: 30px;
}

#starBox {
  height:80px;
  width: 100vw;
  border: 2px solid black;
  margin-bottom: 50px;
}

#controlBox {
  border: 2px solid black;
  margin-bottom: 50px;
  #restart, #confirm, #roll {
    display: inline-block;
  }
}

#numberBox {
  border: 2px solid black;
  .number {
    height: 30px;
    width: 30px;
    display: inline-block;
    // border: 2px solid black;
  }
}

div {
  vertical-align: middle;
}

.stars {
  height: 20px;
  width: 20px;
  border: 2px solid black;
  display: inline-block;
}

.selected {
  border: 2px solid red; 
}

.disabled {
  border: 2px solid black;
}


